.App {
  text-align: center;
}
.parent-Div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 130px;
  /* background-image: url('background.png'); */
}

/* .homepage{
  background-image: url('background.png');
} */

.header{
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

.logo-div{
  display: flex;
  gap: 15px;
  margin: 20px;
}
.search-bar{
  margin: 4px;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 0 10px;
  font-size: 17px;
}

.search-div{
  display: flex;
  border-radius: 30px;
  border: solid 1px silver;
  background-color: white;
  padding: 10px;
  min-width: 400px;
}





